* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

/* Body */

body {
    min-height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 50%), url(Assets/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar */

#navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
    padding: 0.6rem 3rem;
    box-shadow: 0 0.2rem 0.7rem black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .logo {
    width: 4rem;
    height: 4rem;
}

#navbar .links {
    display: flex;
    gap: 4rem;
}

#navbar .links a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 1rem;
    position: relative;
}

#navbar .links a::before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -0.2rem;
    height: 0.2rem;
    width: 0;
    background-color: orange;
    transition: 0.3s ease-out;
}

#navbar .links a:hover::before {
    width: 100%;
    left: 0;
    right: 0;
}

/* Home Page */

/* Hero*/

#hero {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    min-height: calc(100vh - 6rem);
    text-align: center;
    gap: 5rem;
}

/* Hero Content */

#hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    text-align: center;
}

/* Hero Top */

#hero .hero-top h1 {
    font-size: 5rem;
    color: white;
    text-shadow: 0 0.2rem 0.7rem rgba(255, 255, 255, 0.5);
    animation: bounce-in 1s ease-in-out;
}

#hero .hero-top h2 {
    color: white;
    font-size: 1.5rem;
    text-shadow: 0 0.2rem 0.7rem rgba(255, 255, 255, 0.5);
    animation: bounce-in 1s ease-in-out;
}

/* Hero Bottom */

#hero .hero-bottom {
    position: relative;
    top: 1rem;
}

#hero .hero-bottom .browse-characters {
    background: transparent;
    border: transparent;
    box-shadow: 0 0.2rem 0.7rem orange;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 2rem;
    color: orange;
    font-weight: 600;
    cursor: pointer;
    animation: bounce-in 1s ease-in-out;
    transition: all 0.3s ease;
}

#hero .hero-bottom .browse-characters:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 0.4rem 1.2rem orange;
    color: white;
    transition: all 0.4s ease;
}

/* Hero-Animation */

#hero .animation .logo-gif {
    animation: bounce-in 1s ease-in-out;
}

@keyframes bounce-in {
    from {
        transform: translateY(8vh);
    }

    to {
        transform: translateY(0vh);
    }
}

/* Characters Page */

/* Ch-Hero */

#ch-hero {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 6rem);
    text-align: center;
}

#ch-hero .heading h1 {
    text-align: center;
    padding: 2rem;
    color: #ff9900;
    font-weight: 900;
    font-size: 4rem;
    text-shadow: 0 0.5rem 1rem black;
    animation: fade-in 1s ease;
    transition: all 0.3s ease;
}

@keyframes fade-in {
    from {

        transform: translateY(3rem);
    }

    to {
        transform: translateY(0);
    }
}

#ch-hero .ch-searchBar legend {
    font-weight: 500;
    font-size: 1.3rem;
    animation: fade-in 1s ease;
    transition: all 0.3s ease;
}

#ch-hero .ch-searchBar input {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 50%);
    border: 0.1rem solid black;
    box-shadow: 0 0.2rem 0.7rem black;
    padding: 0.5rem;
    width: 30vw;
    font-size: 1.2rem;
    border-radius: 1rem;
    font-weight: 500;
    animation: fade-in 1s ease;
    transition: all 0.3s ease;
}

#ch-hero .ch-searchBar input::placeholder {
    color: rgb(44, 42, 42);
}

#ch-hero .ch-searchBar input:focus {
    outline: 0.12rem solid orange;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
}

#ch-hero .ch-searchBar button {
    font-size: 1rem;
    margin-left: 2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 50%);
    padding: 0.5rem;
    border-radius: 1rem;
    border: 0.1rem solid black;
    box-shadow: 0 0.2rem 0.7rem black;
    cursor: pointer;
    animation: fade-in 1s ease;
    transition: all 0.3s ease;
}

#ch-hero .ch-searchBar button:hover {
    border: 0.1rem solid orange;
    transform: scale(1.1);
    box-shadow: 0 0.2rem 0.7rem orange;
}